</br>
<div class="row">
  <div class="col-md-10 post">
    <div class="">
      <div class="">
        <p><%= link_to gravatar_for(comment.user)%>
        <i>"<%= comment.description %>"</i>
          <small>created <%= time_ago_in_words(comment.created_at) %> ago by 
          <%= link_to @goal.user.username, user_path(@goal.user) %></small>
          
      </div>
    </div>
  </div>
</div>