<%= render 'shared/pagetitle', title: "Sign up" %>

<%= render 'shared/errors', obj: @user %>


<%= render 'form' %>
<div class="col-md-4 col-md-offset-4 colormatch center">
      [ <%= link_to "Already have an account? Login here!",  login_path %> ]
    </div>