<h1> List all goals</h1>

<% @goals.each do |goal| %>
<div class = "row">
  <div class="col-md-2"> 
  <section class="center">User image goes here</section> </div>
  
  <div class="col-md-8 well"> <br>
    <h4>Goal Name:<%= goal.name %></h4><br>
    <h4>Goal Description:<%= truncate(goal.description, length: 100) %></h4><br>
    <p> <span class="quiet"> <small>Created: <%= time_ago_in_words(goal.created_at) %> ago </span></p><br> </small>
    goal.user.username 
    <hr>
  </div>
</div><!-- end row -->




<% end %>